#title {
    text-align: center;
    background-color: rgba(247, 238, 228, .8);
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 50px;
    height: 40vh;
    margin-top: 5vh;
    z-index: -1;
}
.allContentContainer {
    margin-top: 5vh;
    width: 90vw;
    margin-left: 5vw;
    z-index: -1;
}
.buttonsContainer {
    height: 35vh;
    width: 40vw;
    float: left;
    margin-top: 3vh;
    z-index: -1;
}
.dataContainer {
    width: 40vw;
    float: left;
    height: 40vh;
    overflow: scroll;
    z-index: -1;
}
.container {
    margin-top: 2vh;
    margin-bottom: 0vh;
    width: 40vw;
    height: 20vh;
    transition: .4s;
    z-index: -1;
}

.form-control, #nav-title, .btn-success, #title, .panel-default {
    opacity: .85;
    z-index: -1;

}
.styleBox {
    position: relative;
    top: 25%;
    z-index: -1;
}
.btn-success {
    float: left;
}

#nav-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 90px;
    letter-spacing: 5px;
    z-index: -1;
}
.loginContainer {
    width: 60vw;
    margin-left: 20vw;
    margin-top: 5vh;
    z-index: -1;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    z-index: -1;
}

nav {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
    z-index: -1;
}

.linkHome, .linkDash, .linkMng {
    color: black;
    transition: 0.4s;
    margin-right: 5px;
    border-radius: 2px;
    text-decoration: none;
    z-index: -1;
}
.linkHome:link, .linkDash:link, .linkMng:link { 
    text-decoration: none;
}
.linkHome:visited, .linkDash:visited, .linkMng:visited { 
    text-decoration: none;
}
.linkHome:hover, .linkDash:hover, .linkMng:hover { 
    background: #faf4ee4d;
    transition: 0.4s;
    text-decoration: none;
}

#dashboard-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    z-index: -1;
}

#manage-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    z-index: -1;
}

#guest-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    z-index: -1;
}

#modal-message {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    z-index: -1;
}

#infoArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

#contactInfoPrinted {
    display:flex;
    margin: auto;
    float: right;
    background-color: blue;
    z-index: -1;
}

#editButton {
    float: right;
}
.form-group {
    margin-bottom: -10px
}
.panel-heading {
    border-radius: 25px
}

@media only screen and (max-width: 600px) {
    .container {
        position: relative;
        top:10vh;
        width: 70vw;
    }
    #title {
        position: relative;
        top: 10vh;
        height: 30vh;
        font-size: 20px;
        margin-top: -5vh;
    }
    #nav-title{
        font-size: 60px;
    }
    h2 {
        margin-bottom: 10%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
    }
    .loginContainer {
        width: 60vw;
        margin-left: 20vw;
        margin-top: 10vh;
    }
    .allContentContainer {
        margin-top: 5vh;
        width: 90vw;
        margin-left: 5vw;
    }
    .buttonsContainer {
        height: 35vh;
        width: 90vw;
        float: none;
        margin-top: 15vh;
    }
    .dataContainer {
        width: 90vw;
        float: none;
        height: 40vh;
        overflow: scroll;
    }
  }