#title {
    text-align: center;
    background-color: rgba(247, 238, 228, .8);
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    height: 40vh;
    margin-top: 5vh
}

.container {
    margin-top: 2vh;
    margin-bottom: 0vh;
    width: 40vw;
    height: 20vh;
    transition: .4s;
}

.form-control, #nav-title, .btn-success, #title, .panel-default {
    opacity: .85;

}
.styleBox {
    position: relative;
    top: 25%;
}
.btn-success {
    float: left;
}

#nav-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 90px;
    letter-spacing: 5px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
}

.linkHome, .linkDash, .linkMng {
    color: black;
    transition: 0.4s;
    margin-right: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.linkHome:link, .linkDash:link, .linkMng:link { 
    text-decoration: none;
}
.linkHome:visited, .linkDash:visited, .linkMng:visited { 
    text-decoration: none;
}
.linkHome:hover, .linkDash:hover, .linkMng:hover { 
    background: #faf4ee4d;
    transition: 0.4s;
    text-decoration: none;

  }

#dashboard-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

#manage-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

#guest-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

#modal-message {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}


@media only screen and (max-width: 600px) {
    .container {
        position: relative;
        top:10vh;
        width: 70vw;
    }
    #title {
        position: relative;
        top: 10vh;
        height: 30vh;
        font-size: 20px;
    }
    #nav-title{
        font-size: 60px;
    }
    h2 {
        margin-bottom: 10%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
    }
  }