
::-webkit-scrollbar { 
    display: none; 
}
#title {
    text-align: center;
    background-color: rgba(247, 238, 228, .8);
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    height: 25vh;
    margin-top: -3vh;
    opacity: .99;
}

.titleDescription {
    position: relative;
    bottom: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
.loginSignupButton {
    width: 8vw;
    float: none;
    margin-left: 25%;
    margin-top: 1vh;
    height: 5vh;
}
.modal-content {
    max-height: 95vh;
}
.modal-body {
    max-height: 75vh;
    overflow-y: scroll;
}
.allContentContainer {
    margin-top: 2vh;
    width: 70vw;
    width:"90vw" ;
    margin-left:"5vw";
    margin-top:"5vh"
}

.colorMenu {
    position: relative;
    z-index: 10;
}
.container-title, .home {
    position: relative;
    z-index: 1;
}
.dataContainer {
    width: 80%;
    float: left;
    height: 55vh;
    overflow-y: scroll;
    position: relative;
    left: 22.5vw;
    top: 2vh;

}
.hoverButtonText {
    font-size: 20px;
    margin-top: 0;
    opacity: 0;
    transition: 0.5s
}

.iconsContainer {
    z-index: 9;
}
.dataContainer::-webkit-scrollbar { 
    display: none;  
}
.container {
    margin-top: 2vh;
    margin-bottom: 0vh;
    width: 40vw;
    height: 20vh;
}


.excelModalButton {
    margin-right: 0;
    margin-top: 5vh;
    margin-bottom: 0;
    width: 70%;
    margin-left: 15%;
}

.panel-body {
    border-top: 0;
    padding: 0;
}

.logoutModalButton {
    margin-left: 35%;
    width: 30%;
}
.copyModalButton {
    margin-left: 5%;
    width: 90%;
}
p {
    text-align: center
}
.styleBox {
    position: relative;
    top: 30%;
    z-index: -1;
}
.btn-success {
    float: left;
}
h4 {
    text-align: center;
}
#nav-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 90px;
    letter-spacing: 5px;
    position: relative;
    bottom: 5vh;
}
.titleDescription {
    bottom: 7vh;
    position: relative;
}
.loginContainer {
    width: 60vw;
    margin-left: 20vw;
    margin-top: 15vh;
}

nav {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
}
.showText {
    opacity: 1;
}
.linkHome, .linkDash, .linkMng {
    color: black;
    margin-right: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.linkHome:link, .linkDash:link, .linkMng:link { 
    text-decoration: none;
}
.linkHome:visited, .linkDash:visited, .linkMng:visited { 
    text-decoration: none;
}
.linkHome:hover, .linkDash:hover, .linkMng:hover { 
    background: #faf4ee4d;
    text-decoration: none;
}

#dashboard-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

#manage-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

#guest-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

#modal-message {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}

#infoArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

#contactInfoPrinted {
    display:flex;
    margin: auto;
    float: right;
    background-color: blue;
}

#editButton {
    float: right;
}
.form-group {
    margin-bottom: -10px
}
.panel-heading {
    border-radius: 5px
}

.fontAwesome {
    pointer-events: none;
    color: black;
}
.buttonsContainer {
    width: 100vw;
    height: 15vh;
    margin-left: 0;
}

.btn-primary {
    width: 15.1vw;
    height: 84px;
    float: left;
    margin-right: 1vw;
    padding: 0;
    margin-bottom: 5px;
}
.logoutButton {
    margin-right: 0;
}
.editButtonModal {
    margin-left: 80%;
    width: 20%;
    height: 5vh;
    border: 0;
}



@media only screen and (max-width: 600px) {

    .container {
        position: relative;
        top:10vh;
        width: 70vw;
    }
    #title {

        height: 12vh;
        font-size: 20px;
        margin-top: -4vh;
        width: 100vw;
        margin-left: 0;
        border-radius: 0;
    }
    #nav-title{
        font-size: 35px;
        bottom: 0
    }
    h2 {
        margin-bottom: 10%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        visibility: hidden;
    }
    .loginContainer {
        width: 60vw;
        margin-left: 20vw;
        margin-top: 20vh;
    }
    .allContentContainer {
        margin-top: 5vh;
        width: 90vw;
        margin-left: 5vw;
    }
    .buttonsContainer {
        height: 0vh;
        width: 100%;
        margin-left: 0;
        margin-top: 0vh;
        overflow: hidden;
        transition: 0.5s;
        padding-top: 1vh;
    }
    .iconsContainer {
        /* padding-top: 0.5vh; */
        pointer-events: none;
        z-index: 9;
        /* left: 1vw; */
    }
    .openMenu {
        /* display: block; */
        height: 35vh;
        transition: 0.5s;
    }
    .dataContainer.openMenu2 {
        height: 45vh;
        transition: 0.5s
    }
    .btn-primary {
        width: 100px;
        margin-left: -4%;
        height: 50px;
        float: left;
        position: relative;
        left: 8vw;
        margin-bottom: 10px;
        margin-right: 20px
    }
    .fontAwesome {
        height: 10vh;
        position: relative;
    
    }
    .dataContainer {
        width: 90vw;
        float: none;
        height: 75vh;
        overflow-y: scroll;
        left: 0;
        margin-top: -1vh;
    }
    .invisible {
        visibility: hidden;
    }
    .MenuContainer {
        visibility: visible;
    }
    .panel-body {
        padding: 0;
    }
    .editButtonModal {
        margin-left: 50%;
        width: 40%;
    }

  }