/* ---------------------------DEFAULT BACKGROUND COLORS OF PALLETTE */
.linkHome:hover, .linkDash:hover, .linkMng:hover, 
.container,.linkHome, .linkDash, .linkMng,
.btn,.btn-success,.btn-primary,.panel-heading,a,
.circle-picker-primary, .circle-picker-secondary, .circle-picker-font,
.buttonPrimary, .buttonSecondary, .buttonFont,
body, #title, .bar1, .bar2, .bar3, .circle-picker-container, 
.panel-default, .form-control, .buttonBox, .fontAwesome
  { 
    transition: 1s ease-out;
}
body {
    background: white;
}

.circle-picker {
    width:100px;
    position: fixed;
    margin-right: 0px;
    padding-left: 6px;
    padding-top: 12px;
    
}
.circle-picker-container {
    position: fixed;
    left: -195px;
    top: 10px;
}

.circle-picker-primary, .circle-picker-secondary, .circle-picker-font {
    position: absolute;
    left: 0px;
    top: 100px;
}

.buttonBox {
    position: absolute;
}
.buttonPrimary, .buttonSecondary, .buttonFont {
    height: 35px;
    position: absolute;
    width: 80px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
}
.buttonPrimary:hover, .buttonSecondary:hover, .buttonFont:hover {
    opacity: .3;
}
.buttonPrimary:active, .buttonSecondary:active, .buttonFont:active {
    opacity: 1;
}

.saveColors {
    background: white;
    outline: none;
    position: relative;
    top: 610px;
}
.buttonPrimary {
    top: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.buttonSecondary {
    top: 35px;
    border-radius: 0;
    border-bottom: 0;
    border-top: 0;
}
.buttonFont {
    top: 70px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: white;
}
.MenuContainer {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 4vh;
    display: none
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}
.btn-success {
    font-size: 15px;
    font-weight: 100;
}
/* ------------------------------------------ANIMATIONS AND STATE CHANGES */

.bar1change {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.bar2change {
    opacity: 0;
}

.bar3change {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.circleChange {
    -webkit-transform: translate(200px, 0px);
    transform: translate(200px, 0px);
}

.invisible {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .MenuContainer { 
        display: block;
    }
    .circle-picker-container {
        overflow-y: scroll;
        width: 91px;
        height: 93vh;
    }
}

