/* ---------------------------DEFAULT BACKGROUND COLORS OF PALLETTE */

body {
    background: #2196f3;
}

.circle-picker {
    width:100px;
    position: fixed;
    margin-right: 0px;
    padding-left: 12px;
    padding-top: 12px;
    
}
.circle-picker-container {
    position: fixed;
    left: 5px;
    top: 50px;
}

.circle-picker-primary, .circle-picker-secondary, .circle-picker-font {
    position: absolute;
    left: 0px;
    top: 100px;
    transition: 0.3s
}

.buttonBox {
    position: absolute;
    left: 5px;
    top: 10px;
}
.buttonPrimary, .buttonSecondary, .buttonFont {
    position: absolute;
    transition: 0.3s;
    width: 80px;
}
.buttonPrimary {
    top:0px;
}
.buttonSecondary {
    top: 30px
}
.buttonFont {
    top: 60px
}
.MenuContainer {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 10px;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}
.btn-success {
    font-size: 15px;
    font-weight: bold;
}
/* ------------------------------------------ANIMATIONS AND STATE CHANGES */
body, #title, .bar1, .bar2, .bar3, .circle-picker-container, .panel-default, .form-control, .buttonBox, .btn-success {
    transition: 0.3s;
}
.bar1change {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.bar2change {
    opacity: 0;
}

.bar3change {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.circleChange {
    -webkit-transform: translate(-200px, 0px);
    transform: translate(-200px, 0px);
}

.invisible {
    visibility: hidden;
}
.clicked {
    background: grey
}


